@media (max-width:1400px){
  .one_img,.second_img{
    margin-top:68px !important;
  }
  .card {
    width: 100%;
    height:270px !important;
    border-radius: 12px;
    background: linear-gradient(185deg, #cacacad1, #ffffff00);
    box-shadow: 6px 6px 12px #a8a8a805, -6px -6px 12px #ffffff;
  }
  .card-text{
    height: 140px;
  }
  .third_img,.fourth_img,.fifth_img,.six_img,.seven_img,.Eight_img,.ninth_img,.ten_img{
    margin-top:68px !important;
  }
  
 
}
@media (max-width: 430px){
    .img-fluid{
        width:50%;
        text-align: center;
    }
    .card-text{
        font-size: 14px !important;
    }
    .offcanvas-body{
        display: grid;
        justify-content:initial !important;
        align-items:initial !important;
      }
      .links{
        display: grid;
        color: black;
        justify-content: end;
      }
    #offcanvasNavbarLabels{
        display:inherit;
      }
      .cont{
        width: 90% !important;
        padding: 3px 10px;
        background-color: #afafaf7a;
      }
      .navbar-toggler{
        border: none ;
        outline: none !important;
      }
      .link {
        text-decoration: none;
        color: rgb(0, 0, 0);
      }
      .image_cover{
        display: flex !important;
        justify-content: center !important;
        align-content: center !important;
      }
      .middle{
        justify-content: inherit;
      }
      .footer_data{
        padding: 10px;
      }
      
      .IMAGE_Cover{
display: flex;
justify-content: center;
align-content: center;
      }
     
      .hero_img{
        margin-top: 50px;
      }
      .card{
        height: auto !important;
      }
      .card-text{
        height: auto;
      }
      .one_img,.second_img{
        margin-top:10px !important;
      }

}